[package]
name = "ag-grid-rs"
version = "0.1.0"
edition = "2021"
authors = ["Michael Freeborn"]

[dependencies]
ag-grid-derive = { path = "../ag-grid-derive" }
js-sys = "0.3" 
serde = { version = "1", features = ["derive"] }
serde-wasm-bindgen = "0.4"
serde_json = "1"
serde_with = "2.0.1"
wasm-bindgen = "0.2.83"

[dependencies.web-sys]
version = "0.3"
features = [
    "Document",
    "HtmlElement",
    "Window"
]
